@import "mixins";

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 64px;
}

.header-nav a {
  font-weight: 500;
  font-size: 14px;
  color: black;
  margin-left: 32px;
}

.add-doctor {
  width: 302px;
  height: 220px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.content {
  padding: 0 80px;
  display: flex;
  flex-wrap: wrap;

  @include screen(mobile) {
    height: calc(100vh - 83px - 56px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 24px 24px;

    > span {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      text-align: center;

      color: rgba(0, 0, 0, 0.3);
    }
  }
}

.contentEmpty {
  @include screen(mobile) {
    justify-content: center !important;
  }
}

.content > div {
  margin-right: 24px;
  margin-bottom: 26px;
}

.dialog-content {
  padding: 78px 0;

  > div {
    width: 327px;
    margin-bottom: 24px;
  }

  > button {
    width: 327px;
  }
}

.dialog-header {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 16px;
  margin-top: 0;
}

.dialog-text {
  color: rgba(0, 0, 0, 0.3);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 24px;
  margin-top: 0;
  width: 325px;
  text-align: center;
}

.dialog-text + label {
  margin-bottom: 24px;
  width: 327px;
}

.dialog-text + label + button {
  width: 327px;
}

.doctorSubTitle {
  font-weight: 400;
  font-size: 12px;
  color: #6248f7;
  margin-bottom: 32px;
  margin-top: -8px;
}

.doctorText {
  margin-top: 0;
  margin-bottom: 24px;
}

.doctorText + span {
  margin-bottom: 32px;
}

.doctorPreview {
  height: 132px;
  width: 270px;
  background-image: url("https://via.placeholder.com/270x132.png");
  margin-bottom: 16px;
  border-radius: 8px;
}

.doctorCard {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 302px;
  height: 220px;
  padding: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include screen(mobile) {
    flex-direction: row;
    height: 92px;
    justify-content: flex-start;

    .doctorPreview {
      width: 60px;
      height: 60px;
      margin-right: 24px;
    }
  }
}

.doctorCardHeader {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
}

.doctorCard .doctorSubTitle {
  margin-bottom: 0;
}

.addDoctorMobile {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 24px 80px 24px;
  margin-top: 80px;
  .qrcontainer {
    height: 327px;
    width: 327px;
    background: #d9d9d9;
    border-radius: 18px;
    margin-bottom: 76px;
  }
}
.error {
  color: #ff0000;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 16px;
}

.doctorInfo {
  display: flex;
  width: 100%;

  .doctorImage {
    width: 295px;
    height: 368px;
    border-radius: 8px;
    background-image: url("https://via.placeholder.com/295x368.png");
  }

  .doctorInfoText {
    width: 327px;
    margin-left: 32px;
  }

  @include screen(mobile) {
    padding: 16px;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: calc(100vh - 200px);

    .doctorImage {
      width: 295px;
      height: 143px;
      border-radius: 8px;
      background-image: url("https://via.placeholder.com/295x143.png");
      margin-bottom: 16px;
    }
  }
}

.mobileDocInfo {
  padding: 0 24px;
  margin-top: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  display: flex;
}
