@import "mixins";

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 64px;
}

.header-nav a {
  font-weight: 500;
  font-size: 14px;
  color: black;
  margin-left: 32px;
}

.documentCard {
  height: 95px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  cursor: pointer;
}

.documentCard h4 {
  margin: 0 0 8px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.documentCard span:nth-child(2) {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 8px;
}

.documentCard span:nth-child(3) {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.3);
}

.documentCard > div {
  margin-left: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 64px 80px 0;

  @include screen(mobile) {
    height: calc(100vh - 83px - 56px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 24px;
  }
}

.content > div {
  margin-bottom: 8px;
}

.documentDetail h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 8px 0;
}

.documentDetail h4 + span {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #6248f7;
}

.documentDetail span:last-child {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #6248f7;
}

.documentDetail p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 32px 0 76px 0;
}

.documentDetailMobile {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 24px 24px 24px;
  margin-top: 80px;
  background: white;
  width: 100%;
  height: calc(100% - 83px - 86px);

  > div {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 24px 16px;
    height: 100%;

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }

    span:last-child {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #6248f7;
    }

    h4 {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      margin: 0 0 8px 0;
    }

    h4 + span {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #6248f7;
    }
  }
}
